body.dark-mode {
    background-color: #121212; /* negro profesional */
    color: #007bff; /* celeste */
}

body.dark-mode #sidebar-student{
    background-color: #121212; /* negro profesional */
}

body.dark-mode .container {
    background-color: #121212; /* negro profesional */
}

body.dark-mode .icon{
    color: #007bff;
}

body.dark-mode .lead{
    color: #f1f1f1;
}

body.dark-mode .card{
    background-color: #2c2c2c;
}

body.dark-mode .card-title{
    color: #f1f1f1;
}

body.dark-mode .card-text{
    color: #f1f1f1;
}

body.dark-mode .copyright {
    color: #ffffff; /* blanco */
}

body.dark-mode .link-copyright {
    color: #ffffff; /* blanco */
}

body.dark-mode .link-copyright:hover {
    color: #007bff; /* azul */
}

/* Code profile*/
body.dark-mode .text{
    color: #f1f1f1;
}

body.dark-mode .input{
    background-color: #2c2c2c;
    color: #f1f1f1;
}

body.dark-mode .iconeye{
    color: #f1f1f1;
}

/*Code Grades Style*/
body.dark-mode .flex-header{
    background-color: #2c2c2c;
    color: #007bff;
}

body.dark-mode .flex-cell{
    background-color: #121212;
    border: 1px solid #2c2c2c;
}

body.dark-mode .grades-category, .grades{
    color: #f1f1f1;
}

/*Code Homework Section*/

body.dark-mode .working-header{
    color: #f1f1f1;
}

/*Code Light Mode*/
#icon-sun{
    color: #f1f1f1;
}

.text-lightmode {
    color: #f1f1f1;
}

#darkmode:hover{
    cursor: pointer;
    transition: .2s;
}