.user-profile {
    color: #007bff;
    font-size: 3rem;
}

.container-profile {
    display: flex;
    margin: auto;
    max-width: 1000px;
    margin-top: 50px;
}

#profile-form-student {
    width: 100%;
    padding: 30px;
}

/*Code Password*/
.input-password{
    position: relative;
}

.iconeye{
    position: absolute;
    right: 20px;
    top: 50px;
}

.iconeye:hover{
    cursor: pointer;
    transition: .3s;
}