.user-profile {
    color: #007bff;
    font-size: 3rem;
}

.container-profile {
    margin-top: 50px;
}

#profile-form-student {
    max-width: 800px;
}

/*Code Password*/
.position-relative {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 20px;
    top: 50%;
    border: none;
    background: transparent;
}