*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
    padding: 25px;
}

.fa-right-to-bracket{
    font-size: 3rem;
    display: flex;
    justify-content: flex-end;
}

.fa-right-to-bracket:hover{
    color: #452dfb !important;
    cursor: pointer;
    transition: .3s;
}

.tooltip-large:hover{
    color: #452dfb !important;
    cursor: pointer;
    transition: .3s;
}

.table {
    margin-top: 30px !important;
    text-align: center;
}

.fixed-layout {
    table-layout: fixed;
    width: 100%;
}

.fixed-layout td, .fixed-layout th {
    word-wrap: break-word;
}

.flex-row {
    display: flex;
}

.flex-cell {
    flex: 1;
    border: 1px solid black;
    text-align: center;  
}

.no-border {
    border: none;
}

.border{
    height: 60px;
}

.header{
    font-weight: 700;
}

.error-message {
    text-align: center;
    font-size: 30px;
    color: #452dfb;
    margin-top: -50px;
}

/*Grade Color acording the score*/
.grade-low {
    color: #e74c3c; /* rojo suave */
}

.grade-medium {
    color: #f39c12; /* naranja suave */
}

.grade-high {
    color: #2ecc71; /* verde suave */
}

.grade-low, .grade-medium, .grade-high {
    font-size: 30px;
}

.custom-row-height {
    height: 70px;
    vertical-align: middle;
}

.navy-blue {
    color: #007bff!important; 
    font-size: 20px;
}

#average {
    font-size: 50px;
}

/*SECTION OF TABLE ANIMATION*/
.table-animation {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.table-animation-out {
    animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}


/*SECTION TO POLITIC STYLES*/
.main-content {
    padding: 40px;
    margin-right: 20px;
    margin-left: 20px;
}

h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 20px;
}

/*SECTION OF TABLE RESPONSIVE*/
.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-cell {
    flex: 1;
    padding: 10px;
    outline: none;
    border: 1px solid #007bff;
}

.cell-header{
   font-weight: bold;
   display: flex;
    justify-content: center;
    align-items: center;
}

.flex-header {
    flex: 1;
    padding: 10px;
    font-weight: bold;
    background-color: #007bff;
    color: white;
}
