/* Estilo para el sidebar */
#sidebar-student {
    width: 250px; /* Ancho del sidebar */
    height: 100vh; /* Altura del sidebar */
    position: fixed; /* Fija el sidebar en su posición */
    top: 0;
    left: 0;
    z-index: 1;
}
  
  .bg-custom {
    background-color: #007bff; /* Color de fondo del sidebar */
  }
  
  /* Estilo para los íconos y el texto */
  #sidebar-student .fas, #sidebar-student span {
    margin-right: 20px; /* Espacio a la derecha de los íconos y el texto */
  }
  
  /* Estilo para los divs que contienen los íconos y el texto */
  #sidebar-student .d-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinea los elementos a la izquierda */
    margin-left: 20px; /* Agrega un margen a la izquierda */
  }
  
  /* Estilo para los divs que contienen los íconos y el texto cuando el sidebar está colapsado */
  #sidebar-student.active .d-flex {
    justify-content: center; /* Centra los íconos horizontalmente */
    flex-direction: column; /* Alinea los íconos verticalmente */
    margin-bottom: 10px; /* Agrega espacio debajo de cada ícono */
    margin-left: 10px;
  }
  
  /* Estilo para los íconos cuando el sidebar está colapsado */
  #sidebar-student.active .fas {
    margin-bottom: 10px; /* Agrega espacio debajo de cada ícono */
  }
  
  /* Estilo para el sidebar cuando está colapsado */
  #sidebar-student.active {
    width: 80px;
    overflow: hidden;
    transition: width 0.3s ease;
    display: flex;
    align-items: center; /* Centra los íconos verticalmente */
    justify-content: center; /* Centra los íconos horizontalmente */
  }
  
  /* Estilo para los divs que contienen los íconos y el texto cuando el sidebar está colapsado */
  #sidebar-student.active .d-flex {
    flex-direction: column; /* Alinea los íconos verticalmente */
  }
  
  /* Estilo para el texto cuando el sidebar está colapsado */
  #sidebar-student.active span {
    display: none; /* Oculta el texto cuando el sidebar está colapsado */
  }
  
  /* Cambia el ícono a una flecha hacia la derecha cuando el sidebar está colapsado */
  #sidebar-student.active #toggle-sidebar {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
  
  #home-student, #profile-student, #grades-student, #homework-student {
    color: #f1f1f1; /* Color del texto */
    text-decoration: none; /* Quita el subrayado del texto */
  } 
  
  #home-student:hover, #profile-student:hover, #grades-student:hover, #homework-student:hover{
    color: #d9d9d9 !important; /* Cambia el color del texto al pasar el mouse sobre él */
    cursor: pointer; /* Cambia el cursor a una mano al pasar el mouse sobre el texto */
    transition: .3s;
  }
  
  #logout-link, #logout-link i, #logout-link span {
    color: #f1f1f1;
  }
  
  #logout-link:hover, #logout-link:hover i, #logout-link:hover span {
    color: #d9d9d9 !important;
    cursor: pointer;
    transition: .3s;
  }

/* El ícono de flecha siempre está visible en la esquina */
#toggle-sidebar {
    color: #007bff;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2; /* Asegura que el ícono de la flecha siempre esté delante */
    cursor: pointer;
    transition: .3s;
}

/* Estilo para pantallas pequeñas */
@media (max-width: 768px) {
    /* Cuando el sidebar está expandido, ocupa toda la anchura y muestra los textos de las secciones centrados */
    #sidebar-student:not(.active) {
        width: 100%;
        height: 100vh;
    }

    #sidebar-student:not(.active) .d-flex {
        justify-content: center;
    }

    /* Cuando el sidebar está expandido, mueve el ícono de la flecha a la esquina derecha y cambia su color a blanco */
    #sidebar-student:not(.active) #toggle-sidebar {
        right: 20px;
        color: #fff;
    }

    /* Cuando el sidebar está colapsado, desaparece por completo */
    #sidebar-student.active {
        width: 0;
        overflow: hidden;
        margin: 0;
        padding: 0;
        visibility: hidden;
    }
}

/* El ícono de flecha está dentro del sidebar en pantallas grandes */
@media (min-width: 769px) {
    #toggle-sidebar {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    /* Cuando el sidebar está colapsado, su ancho es 80px */
    #sidebar-student.active {
        width: 80px;
    }
}